@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary: #54bca4;
  --font: #3a3c3b;
  --title: #98a09c;
  --white: #ffffff;
  --hoverbtn: #eefcf3;
  --hoverbtnmasuk: #a6ddcf;
  --navoff: #5f6d7e;
  --hr: #c9d9d2;
  --footer: #1b443b;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Poppins", sans-serif;
  color: var(--font);
}
.linkto {
  font-family: "Poppins", sans-serif;
}
