@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --primary: #54bca4;
    --font: #3a3c3b;
    --title: #98a09c;
    --white: #ffffff;
    --hoverbtn: #eefcf3;
    --hoverbtnmasuk: #a6ddcf;
    --navoff: #5f6d7e;
    --hr: #c9d9d2;
    --footer: #1b443b;
  }

.data {
  font-family: "Poppins", sans-serif;
  margin-bottom: 100px;
  color: var(--font);
}

.data-content .sub-title {
  color: var(--primary);
  margin-bottom: 20px;
  font-weight: 600;
}

.data .card {
  border-width: 4px;
  border-color: var(--primary);
  border-radius: 16px;
}

.data .card-body img {
  margin-bottom: 8px;
}
