@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footercolo {
  background-color: #1b443b;
  font-family: "Poppins", sans-serif;
}

/* .footericons a {
  font-size: 2rem;
  color: white;
} */

.footercolo .flogo {
  margin-bottom: -10px;
}

.footercolo .fslogan {
  line-height: 30px;
}

/* .footercolo .fmenu {
    margin-inline-end: -10px;
} */

.footercolo hr {
  margin-top: -40px;
  border: none;
  border-bottom: solid 3px #c9d9d2;
  border-radius: 8px;
}

.footercolo .ficon {
  margin-top: 20px;
  margin-left: -12px;
}

.footercolo .dev {
  font-weight: bold;
}

.footercolo .fcopyright {
  margin-inline-end: 440px;
}

.footercolo .fsyarat {
  margin-inline-end: 50px;
}

.footercolo .fkebijakan {
  margin-inline-end: -50px;
}
