@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary: #54bca4;
  --font: #3a3c3b;
  --title: #98a09c;
  --white: #ffffff;
  --hoverbtn: #eefcf3;
  --hoverbtnmasuk: #a6ddcf;
  --navoff: #5f6d7e;
  --hr: #c9d9d2;
  --footer: #1b443b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footercolo {
  background-color: var(--footer);
  font-family: "Poppins", sans-serif;
}

.footercolo .flogo {
    margin-bottom: -10px;
}

.footercolo .fslogan {
    line-height: 30px;
}

.footercolo hr {
  margin-top: -40px;
  border: none;
  border-bottom: solid 3px var(--hr);
  border-radius: 8px;
}

.footercolo .ficon {
    margin-top: 20px;
    margin-left: -12px;
}

.footercolo .dev {
  font-weight: bold;
}

.footercolo .fcopyright {
  margin-inline-end: 380px;
}

.footercolo .fsyarat {
  margin-inline-end: 10px;
}

.footercolo .fkebijakan {
  margin-inline-end: -10px;
}
