@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.singkatan {
  color: #54bca4;
}
.consultation-main-image {
  width: 410px;
  height: 400px;
}
.titledes {
  font-family: Poppins, sans-serif;
}
